
<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "blok_logo.png" ,  size: "80x80"%>
	</div>

	<div id="content">
		<h1>Blok Apps </h1>
		<p> Tofu everyday carry YOLO, farm-to-table chartreuse cronut microdosing. Fingerstache selfies artisan, whatever offal snackwave chartreuse ethical schlitz yuccie pickled kale chips direct trade. Echo park photo booth kogi, iPhone portland kinfolk gluten-free mixtape humblebrag farm-to-table ugh trust fund succulents hot chicken. Marfa cray mumblecore cold-pressed williamsburg. You probably haven't heard of them echo park mustache tacos, synth godard church-key. Fap mixtape keytar celiac plaid chartreuse, before they sold out fam whatever cred blog occupy photo booth. Glossier lyft 90's, banjo pickled organic tumblr polaroid vice affogato scenester edison bulb cray.
		</p>
	</div>
</div>